.header {
    animation: fadeInLeftToRight 2s forwards;
    overflow: hidden;
    width: 0; 
    opacity: 0; 
}   

.nav {
    animation: leftToRight 4s forwards;
    width: 0;
    opacity: 0.5;
    text-align: center;
    padding: 10px 0;
    line-height: 8px;
    color: rgb(193, 189, 189);
    position: relative;
}

@keyframes fadeInLeftToRight {
    from {
        width: 0;
        opacity: 0;
    }
    to {
        width: 100%;
        opacity: 1;
    }
}

@keyframes leftToRight {
    from {
        width: 0;
        opacity: 0.5
    }
    to {
        width: 100%;
        opacity: 1;
    }
}

.nav:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;

}

.nav:hover {
    cursor: pointer;
    color: white;
}

@media (min-width: 620px) {
    .header {
        display: flex;
        justify-content: space-between;
        background-color: rgba(32, 24, 55, 0.85);
        min-width: 100vw;
        height: 104px;
        box-shadow: 0 10px 30px -10px black;
        z-index: 1;
        position: absolute;
    }

    .logoDiv {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 30px;
    }

    .headerDiv {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-weight: bold;
    }
    
    .headerDiv2 {
        display: flex;
    }

    .nav {
        padding: 10px 0;
        line-height: 8px;
        color: rgb(193, 189, 189);
        position: relative;
        margin: 2rem;
    }
}

@media (max-width: 619px) {
    .header {
        display: flex;
        justify-content: space-between;
        background-color: rgba(32, 24, 55, 0.85);
        min-width: 100vw;
        height: 104px;
        box-shadow: 0 10px 30px -10px black;
        z-index: 1;
        position: relative;
    }

    .logoDiv {
        margin: auto 0;
    }

    .headerDiv {
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-weight: bold;
        width: 100%;
    }
    
    .headerDiv2 {
        display: flex;
        justify-content: space-around;
        width: 100%
    }

    .nav {
        padding: 10px 0;
        line-height: 8px;
        color: rgb(193, 189, 189);
        position: relative;
    }
}