.listItem {
    display: list-item;
    /* margin: 20px; */
    padding: 10px;
}

.tags {
    display: inline-block;
    position: relative;
    transition: transform 0.25s;
}

.listItem:hover .tags {
    cursor: pointer;
    transform: scale(1.1);
}

.listItem:hover svg {
    fill: white;
}


.email:hover {
    color: white;
    cursor: pointer;
}

.email:hover:after {
    transform: scaleY(1);
    transform-origin: top left;
}

.email:after {
    content: '';
    position: absolute;
    width: 2px;
    transform: scaleY(0);
    height: 100%;
    top: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom left;
    transition: transform 0.25s ease-out;
}

@media (min-width: 768px) {
    .linksDiv {
        width: 40px;
        position: fixed;
        bottom: 20px;
        right: auto;
        left: 40px;
    }
    
    .list {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .emailDiv {
        width: 40px;
        position: fixed;
        bottom: 20px;
        right: 40px;
        left: auto;
    }

    .tags {
        transition: transform 0.25s;
        animation: fadeInFall 2s forwards;
        opacity: 0;
        transform: translateY(-100px)
    }
    
    .email {
        writing-mode: vertical-rl;
        margin: 10px;
        letter-spacing: 0.1em;
        transition: transform 0.25s;
        animation: fadeInFall 2s forwards;
        opacity: 0;
        transform: translateY(-100px);
        padding: 10px;
    }

    @keyframes fadeInFall {
        from {
            opacity: 0;
            transform: translateY(-100px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

@media (max-width: 767px) {
    .container {
        display: flex;
        flex-direction: column;
    }

    .linksDiv {
        position: relative;
        margin: auto;
    }

    .list {
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .emailDiv {
        position: relative;
        margin: auto;
    }

    .email {
        margin: 10px;
        text-decoration: underline;
        letter-spacing: 0.1em;
        transition: 0.25s;
    }
}