.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-height: 100vh;
    margin: 0px auto;
    width: 80%;
    max-width: 1600px;
    color: rgb(193, 189, 189);
}


.normalText {
    font-weight: bold;
    font-size: 1.1rem;
}

.name {
    font-size: 4rem;
    color: #fff;
    font-weight: bold;
}

.paragraph {
    max-width: 60%;
    flex-wrap: wrap;
    font-weight: 200;
}

@media (min-width: 1300px) {
    
}