@media (min-width: 992px) {
    .container {
        display: flex;
        flex-direction: column;
        max-width: 1600px;
        margin: 0px auto;
        width: 80%;
    }
    
    .title {
        font-size: 3em;
        font-weight: bold;
        margin-bottom: 50px;
    }
    
    .project {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 10px;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;
    }
    
    .projectDescription {
        display: block;
        grid-area: 1 / 1 / -1 / 7;
        position: relative;
    }
    
    .projectTitle {
        margin: 0px 0px 20px;
        color: white;
        font-weight: 600;
        line-height: 1.1
    }
    
    
    .featured {
        margin: 10px 0px;
        font-size: 12px;
        font-weight: 400;
    }
    
    .projectText {
        box-shadow: 0 10px 30px -15px black;
        position: relative;
        z-index: 2;
        padding: 15px;
        min-width: 100%;
        background-color: rgba(32, 24, 55, 0.85);
        font-weight: 400;   
    }
    
    .techList {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 2;
        margin: 25px 0px 10px;
        padding: 0px;
        list-style: none;
        font-size: 12px;
    }
    
    .techList li {
        margin: 0px 0px 5px 20px;
    }
    
    .links {
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 10px;
    }
    
    .tags {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        padding: 10px;
        transition: transform 0.25s;
    }
    
    .tags:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    .tags:hover svg {
        fill: white;
    }
    
    .imageLink {
        filter: blur(1px);
        transition: 0.25s;
        position: relative;
        z-index: 3;
    }
    
    .projectImage {
        grid-area: 1 / 6 / -1 / -1;
        position: relative;
        z-index: 1;
    }
    
    .imageLink:hover {
        filter: blur(0px);
        background-color: transparent;
    }
    
    .overlay {
        background-color:rgba(32, 24, 55, 0.6);
        position: absolute!important;
        z-index: 3;
        transition: 0.25s;
    }
    
    .overlay:hover {
        background-color: transparent;
    }
}

@media (max-width: 991px) {
    .container {
        display: flex;
        flex-direction: column;
        max-width: 1600px;
        margin: 0px auto;
        width: 80%;
    }
    
    .title {
        font-size: 2rem;
        font-weight: bold;
        margin-bottom: 50px;
    }
    
    .project {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;
    }
    
    .projectDescription {
        display: block;
        grid-area: 1 / 1 / -1 / 7;
        position: relative;
    }
    
    .projectTitle {
        margin: 0px 0px 20px;
        color: white;
        font-weight: 600;
        line-height: 1.1
    }
    
    
    .featured {
        margin: 10px 0px;
        font-size: 12px;
        font-weight: 400;
    }
    
    .projectText {
        box-shadow: 0 10px 30px -15px black;
        position: relative;
        z-index: 2;
        padding: 15px;
        min-width: 100%;
        background-color: rgba(32, 24, 55, 0.85);
        font-weight: 400;   
    }
    
    .techList {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        z-index: 2;
        margin: 25px 0px 10px;
        padding: 0px;
        list-style: none;
        font-size: 12px;
    }
    
    .techList li {
        margin: 0px 0px 5px 20px;
    }
    
    .links {
        display: flex;
        align-items: center;
        position: relative;
        margin-top: 10px;
        margin-bottom: 20px;
        padding: 10px;
    }
    
    .tags {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 5px;
        padding: 10px;
        transition: transform 0.25s;
    }
    
    .tags:hover {
        cursor: pointer;
        transform: scale(1.1);
    }

    .tags:hover svg {
        fill: white;
    }
    
    .imageLink {
        filter: blur(1px);
        transition: 0.25s;
        position: relative;
        z-index: 3;
    }
    
    .projectImage {
        margin: auto;
        position: relative;
        z-index: 1;
        margin-bottom: 20px;
    }
    
    .imageLink:hover {
        filter: blur(0px);
        background-color: transparent;
    }
    
    .overlay {
        background-color:rgba(32, 24, 55, 0.6);
        position: absolute!important;
        z-index: 3;
        transition: 0.25s;
    }
    
    .overlay:hover {
        background-color: transparent;
    }
}